.container {
  width: 100%;
  margin: 0;
  padding: 0;
    }
.header img {
  border-radius: 0;
}
aside.left{
  text-align:center;
  float: inherit;
}
aside.right{
  text-align:center;
  float: inherit;
}